body {
  position: relative;
  font-size: 14px;
  font-family: "Oxanium";
  background-color: #e5e5e5;
  color: #171616;
  @include transition;
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 450px;
    max-width: 100%;
  }
}

main {
  width: 100%;
  position: relative;
  z-index: 9;
}
.th-dark-blue {
  background-color: #08080c;
  color: #f5f5f5;
}

a {
  color: $th-blue;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $th-blue;
  }
}

i {
  font-size: 20px;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}

.navbar-brand {
  .form-switch {
    margin-left: auto;
    margin-right: 20px;
    display: block;
    @include media($lg) {
      display: none;
    }
  }
}
.form-switch {
  display: none;
  @include media($lg) {
    display: block;
  }
}

.full-height {
  height: 100% !important;
  max-height: 100% !important;
}

.fa-angle-down {
  padding-top: 5px;
}

.container-fluid {
  // max-width: 1400px;
  @include media($xl) {
    padding: 0 30px;
  }
  &.full-width {
    max-width: 100%;
    padding: 0 24px;
  }
}

.ui-datepicker .container-fluid {
  padding-right: var(--bs-gutter-x, 15px);
  padding-left: var(--bs-gutter-x, 15px);
  @include media($lg) {
    padding-right: var(--bs-gutter-x, 30px);
    padding-left: var(--bs-gutter-x, 30px);
  }

  &.full-width {
    max-width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
}

.gloabal-heading {
  font-size: 20px;
  @include media($lg) {
    font-size: 28px;
  }
  span {
    color: $th-blue;
  }
  &.medium {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    @include media($lg) {
      font-size: 22px;
    }
  }
  &.small {
    font-size: 16px;
  }
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.btn {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid $th-blue;
  color: $th-blue;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
  @include media($xl) {
    padding: 8px 15px;
  }
  span {
    display: inline-block;
  }
  &:hover,
  &:focus {
    color: $th-blue;
  }
  &.big {
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  &.mini {
    height: auto;
    min-height: auto;
    font-size: 12px;
    padding: 8px 15px;
    @include media($xxxl) {
      padding: 8px 20px;
      font-size: 14px;
    }
  }
  &.transparent {
    background-color: rgba(52, 87, 209, 0.3);
  }
  &.btn-danger {
    background-color: #bb2d3b;
    border-color: #dc3545;
  }
}

#back {
  color: #f5f5f5;
}

.btn-active {
  background-color: $th-blue;
  color: #fff !important;
  &:hover,
  &:focus {
    color: #fff !important;
  }
}

.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}

.btn-box {
  margin-bottom: 25px;
  .btn {
    margin-bottom: 10px;
    margin-right: 10px;
    @include media($xl) {
      margin-right: 25px;
    }
    @include media($md) {
      margin-bottom: 0px;
    }
    span {
      position: relative;
      top: -2px;
      margin-right: 5px;
    }
  }
}

.inline-btn {
  display: inline-flex;
  align-items: center;
  color: $th-blue;
  &:hover,
  &:focus {
    color: $th-blue;
  }
  img {
    margin-right: 5px;
  }
}

.danger {
  color: #de3b2d !important;
  font-size: 16px;
}

@include media($lg) {
  .nicescroll-rails {
    opacity: 1 !important;
    width: 4px !important;
    .nicescroll-cursors {
      border: none !important;
    }
  }
}

.form-control {
  background-color: transparent;
  border-color: #e8e8e8;
  font-size: 14px;
  padding: 0.75rem;
  &:focus {
    background-color: transparent;
  }
}

.form-select {
  background-image: url("../images/dropdown.svg");
  color: $grey-text;
  border-color: rgba(23, 22, 22, 0.2);
  padding: 8px 40px 8px 8px;
  background-repeat: no-repeat;
  font-weight: 500;
  &:focus {
    box-shadow: none;
  }
}
.th-dark-blue {
  .form-check-input {
    border: 1px solid #242424;
    background-color: transparent;
  }
  .form-control {
    background-color: transparent;
    border-color: #242424;
    color: rgba(245, 245, 245, 0.65);
    &:focus {
      color: rgba(245, 245, 245, 0.65);
      background-color: transparent;
      box-shadow: 0 0 0 0.25rem rgb(52, 87, 209);
    }
  }
  .form-select {
    background-color: #000;
    background-image: url("../images/dropdown.svg");
    color: #f5f5f5;
    border-color: #242424;
    background-repeat: no-repeat;
    &:focus {
      box-shadow: none;
    }
  }
}

.link {
  color: #3457d1;
  &:hover {
    color: #3457d1;
  }
}

.light-dark {
  background-color: #171a1e;
}

.slide-out {
  left: -105% !important;
}

table {
  width: 100%;
}

.th-dark-blue {
  a {
    color: $th-blue;
    &:hover {
      color: $th-blue;
    }
  }
}
.ui-datepicker {
  background-color: $sharp-white;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  background-color: #fff;
}
.ui-datepicker-prev {
  background-image: url("../images/icons/left-arrow-dark.svg") !important;
}
.ui-datepicker-next {
  background-image: url("../images/icons/right-arrow-dark.svg") !important;
}
.th-dark-blue {
  .ui-datepicker {
    background-color: $light-dark;
    border: 1px solid $dark-grey;
    .ui-datepicker-prev {
      background-image: url("../images/icons/left-arrow.svg") !important;
    }
    .ui-datepicker-next {
      background-image: url("../images/icons/right-arrow.svg") !important;
    }
    .ui-datepicker-prev,
    .ui-datepicker-next {
      background-color: $dark-grey;
    }
    .ui-datepicker-title {
      select {
        background-color: $dark-grey;
        background-image: url("../images/date-dropdown.svg");
        color: #f5f5f5;
      }
    }
    table {
      th {
        color: #7f8081;
      }
      td {
        a {
          border: 2px solid $light-dark;
          background-color: $dark-grey;
          color: #f5f5f5;
        }
      }
    }
  }
}

.ui-datepicker {
  padding: 10px;
  border-radius: 8px;
  max-width: 300px;
  display: none;
  .ui-datepicker-header {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .ui-datepicker-prev {
      order: 1;
    }
    .ui-datepicker-next {
      order: 3;
    }
    .ui-datepicker-prev,
    .ui-datepicker-next {
      width: 38px;
      height: 38px;
      border-radius: 100%;
      color: transparent;
      font-size: 0;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    .ui-datepicker-title {
      order: 2;
      padding: 10px 20px;
      select {
        border-radius: 4px;
        padding: 8px 20px 8px 8px;
        margin: 0 1px;
        border-color: transparent;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 18px;
        font-weight: bold;
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) calc(100% - 13px);
        line-height: normal;
        &:first-child {
          background-position: calc(100% - 10px) calc(100% - 13px);
        }
      }
    }
  }

  table {
    width: 100%;
    text-align: center;
    th {
      padding-bottom: 20px;
    }
    td {
      padding: 0px;
      a {
        display: block;
        padding: 8.3px 10px;
        border: 2px solid $sharp-white;
        background-color: #fff;
        color: #000;
        border-radius: 5px;
      }
    }
  }
}

// form
.th-dark-blue {
  label {
    color: $grey-text;
  }
}
label {
  margin-bottom: 10px;
}
.blue {
  color: $th-blue;
}

.th-dark-blue {
  .popup-body {
    background-color: #000;
  }
  .popup.deactivate .conf {
    background-color: #000;
  }
}

.view-player {
  cursor: pointer;
}
.popup {
  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  &.in {
    z-index: 99;
    &.deactivate,
    &.player-popup,
    &.leader-board {
      opacity: 1;
    }
  }
  &.deactivate {
    @include flex-center;
    opacity: 0;
    transition: all 0.4s;
    .conf {
      width: auto;
      height: auto;
      padding: 30px 50px;
      border-radius: 8px;
      position: relative;
      z-index: 99;
      background-color: #fff;
      i {
        font-size: 30px;
        color: $th-blue;
      }
      i,
      h2,
      p {
        margin-bottom: 15px;
      }
    }
  }
  &.player-popup,
  &.leader-board {
    @include flex-center;
    align-items: flex-start;
    padding-top: 70px;
    opacity: 0;
    .popup-header {
      padding-bottom: 10px;
      align-items: center;
      margin-bottom: 20px;
      h2 {
        font-size: 20px;
        margin-bottom: 0;
      }
    }
    .popup-body {
      width: auto;
      height: auto;
      border-radius: 8px;
      position: relative;
      z-index: 99;
      padding: 20px 15px;
      @include media($lg) {
        padding: 30px 15px;
      }
    }
    .input-search {
      margin-right: 30px;
      width: 150px;
      margin-left: 20px;
      position: relative;
      @include media($lg) {
        width: 300px;
        margin-left: 200px;
      }
      .fa-search {
        position: absolute;
        top: 17px;
        right: 10px;
        font-size: 15px;
        color: $grey-text;
      }
    }
    i {
      font-size: 20px;
    }
    .player-chart {
      padding-right: 20px;
      max-height: 380px;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        a {
          font-weight: 700;
          border-bottom: 1px dashed $th-blue;
        }
      }
      .player__details {
        display: flex;
        align-items: center;
        img {
          margin-right: 20px;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          @include media($lg) {
            width: 60px;
            height: 60px;
          }
        }
        .name-id {
          h3 {
            font-size: 18px;
            margin-bottom: 0;
          }
          p {
            color: $grey-text;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &.leader-board {
    .popup-header {
      border-bottom: 1px solid #d2d1d1;
    }
    .player-chart li {
      justify-content: flex-start;
      background-color: #e4e5e6;
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 5px;
      &:first-child {
        background-color: transparent;
      }
      a {
        text-decoration: none;
        border-bottom: none;
      }
      .player__details img {
        max-width: 45px;
        max-height: 45px;
      }
    }
    .table-cell {
      &:first-child {
        margin-right: 50px;
        width: 32px;
      }
      &:last-child {
        margin-left: auto;
      }
    }
  }
  &.video-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    .popup-layer {
      position: relative;
      background-color: #fff;
      border-radius: 8px;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-self: center;
      max-width: calc(100% - 30px);
      iframe {
        max-width: 100%;
        max-height: 250px;
        @include media($md) {
          max-height: 100%;
        }
      }
    }
  }
}

.gold {
  color: #e3a302;
}
.silver {
  color: #909292;
}

.form-switch {
  padding-left: 0;
  .form-check-input {
    margin-left: 20px;
    cursor: pointer;
    width: 40px;
    height: 20px;
    background-image: url("../images/icons/moon.svg");
    background-size: 15px;
    background-position: 2px;
    background-color: #3457d1;
    &:focus {
      background-image: url("../images/icons/moon.svg");
    }
    &:checked {
      background-position: 23px;
      background-size: 12px;
      background-image: url("../images/icons/sun.svg");
      &:focus {
        background-image: url("../images/icons/sun.svg");
      }
    }
  }
}

.form-switch .form-check-input:checked {
  background-color: $th-blue;
}
