body {
  position: relative;
  font-size: 14px;
  font-family: "Oxanium";

  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 450px;
    max-width: 100%;
  }
}
main {
  width: 100%;
  position: relative;
  z-index: 9;
}
.th-dark-blue {
  background-color: #08080c;
  color: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:focus {
    color: inherit;
  }
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.container-fluid {
  padding-right: var(--bs-gutter-x, 15px);
  padding-left: var(--bs-gutter-x, 15px);
  @include media($lg) {
    padding-right: var(--bs-gutter-x, 30px);
    padding-left: var(--bs-gutter-x, 30px);
  }

  &.full-width {
    max-width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
}

.gloabal-heading {
  font-size: 22px;
  @include media($xl) {
    font-size: 32px;
  }
  @include media($xxl) {
    font-size: 38px;
  }
  span {
    color: $th-blue;
  }
  &.medium {
    margin-bottom: 0;
    font-size: 24px;
    @include media($lg) {
      font-size: 28px;
    }
  }
  &.small {
    font-size: 18px;
  }
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.btn {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid $th-blue;
  color: $th-blue;
  padding: 10px;
  font-size: 14px;
  line-height: 1.4;
  @include media($xl) {
    padding: 10px 20px;
    font-size: 1rem;
  }
  span {
    display: inline-block;
  }
  &:hover,
  &:focus {
    color: $th-blue;
  }
  &.big {
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  &.mini {
    height: auto;
    min-height: auto;
    font-size: 12px;
    padding: 8px 15px;
    @include media($xxxl) {
      padding: 8px 20px;
      font-size: 14px;
    }
  }
  &.transparent {
    background-color: rgba(52, 87, 209, 0.3);
  }
}

.btn-active {
  background-color: $th-blue;
  color: #fff;
  &:hover,
  &:focus {
    color: #fff;
  }
}

.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}

.btn-box {
  margin-bottom: 25px;
  .btn {
    margin-bottom: 10px;
    margin-right: 10px;
    @include media($xl) {
      margin-right: 25px;
    }
    @include media($md) {
      margin-bottom: 0px;
    }
    span {
      position: relative;
      top: -2px;
      margin-right: 5px;
    }
  }
}

.inline-btn {
  display: inline-flex;
  align-items: center;
  color: $th-blue;
  &:hover,
  &:focus {
    color: $th-blue;
  }
  img {
    margin-right: 5px;
  }
}

.danger {
  color: #de3b2d;
  font-size: 16px;
}

@include media($lg) {
  .nicescroll-rails {
    opacity: 1 !important;
    background-color: #1b2b63;
    width: 4px !important;
    .nicescroll-cursors {
      border: none !important;
    }
  }
}

.form-control {
  background-color: transparent;
  border-color: #e8e8e8;
  font-size: 14px;
  padding: 0.75rem;
  &:focus {
    background-color: transparent;
  }
}

.th-dark-blue {
  .form-check-input {
    border: 1px solid #242424;
    background-color: transparent;
  }
  .form-control {
    background-color: transparent;
    border-color: #242424;
    color: rgba(245, 245, 245, 0.65);
    &:focus {
      color: rgba(245, 245, 245, 0.65);
      background-color: transparent;
      box-shadow: 0 0 0 0.25rem rgb(52, 87, 209);
    }
  }
  .form-select {
    background-color: #000;
    background-image: url("../images/dropdown.svg");
    color: #f5f5f5;
    border-color: #242424;
    padding: 8px 40px 8px 8px;
    background-repeat: no-repeat;
    &:focus {
      box-shadow: none;
    }
  }
}

.link {
  color: #3457d1;
  &:hover {
    color: #3457d1;
  }
}

.light-dark {
  background-color: #171a1e;
}

.slide-out {
  left: -105% !important;
}

.th-dark-blue {
  .ui-datepicker {
    background-color: $light-dark;
    border: 1px solid $dark-grey;
    .ui-datepicker-prev {
      background-image: url("../images/icons/left-arrow.svg");
    }
    .ui-datepicker-next {
      background-image: url("../images/icons/right-arrow.svg");
    }
    .ui-datepicker-prev,
    .ui-datepicker-next {
      background-color: $dark-grey;
    }
    .ui-datepicker-title {
      select {
        background-color: $dark-grey;
        background-image: url("../images/date-dropdown.svg");
        color: #f5f5f5;
      }
    }
    table {
      th {
        color: #7f8081;
      }
      td {
        a {
          border: 2px solid $light-dark;
          background-color: $dark-grey;
        }
      }
    }
  }
}

.ui-datepicker {
  padding: 20px;
  border-radius: 8px;
  max-width: 346px;
  display: none;
  .ui-datepicker-header {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    .ui-datepicker-prev {
      order: 1;
    }
    .ui-datepicker-next {
      order: 3;
    }
    .ui-datepicker-prev,
    .ui-datepicker-next {
      width: 38px;
      height: 38px;
      border-radius: 100%;
      color: transparent;
      font-size: 0;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    .ui-datepicker-title {
      order: 2;
      padding: 10px 40px;
      select {
        border-radius: 4px;
        padding: 8px 20px 8px 8px;
        margin: 0 1px;
        border-color: transparent;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 18px;
        font-weight: bold;
        background-repeat: no-repeat;
        background-position: calc(100% - 15px) calc(100% - 13px);
        line-height: normal;
        &:first-child {
          background-position: calc(100% - 10px) calc(100% - 13px);
        }
      }
    }
  }

  table {
    width: 100%;
    text-align: center;
    th {
      padding-bottom: 20px;
    }
    td {
      padding: 0px;
      a {
        display: block;
        padding: 8.3px 10px;
        border: 2px solid $light-dark;
        background-color: $dark-grey;
        border-radius: 5px;
      }
    }
  }
}
