.navigation {
  padding: 15px 0;
  margin-bottom: 30px;
  @include transition;
  .profile-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100%;
    @include media($lg) {
      width: 40px;
      height: 40px;
    }
  }
}
.profile {
  i {
    font-size: 30px;
    margin-left: 10px;
  }
}
.profile-block {
  font-weight: 700;
}

.dashborad-navbar {
  border: none;
  height: 148px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $off;
  max-width: 100%;
  overflow: hidden;
  @include transition;
  @include media($lg) {
    height: 82px;
    position: static;
  }
}

.th-dark-blue {
  .dashborad-navbar {
    background: #000;
  }
}

.fa-bars,
.fa-times {
  color: #000;
}

.navbar-brand {
  background-color: #f9f9f9;
}

.th-dark-blue {
  .navbar-brand {
    background: #000;
    height: 76px;
    @include media($lg) {
      height: auto;
    }
  }
}

.logo {
  max-width: 120px;
  @include media($lg) {
    max-width: 150px;
  }
}

.profile-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
  @include media($lg) {
    width: 30px;
    height: 30px;
  }
}
