$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;

// color
$th-blue: #3457d1;
$base-dark: #08080c;
$light-dark: #171a1e;
$dark-grey: #1e2125;
$grey-text: #7f8081;
$active: #2abb69;
$border: #242424;
@mixin media($size) {
  @media screen and (min-width: #{$size}) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// psudo element
@mixin psudo {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@mixin transition {
  transition: all ease-in-out 0.3s;
}
@mixin border {
  border-bottom: 1px solid #242424;
}
