$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;

// color
$th-blue: #3457d1;

@mixin media($size) {
  @media screen and (min-width: #{$size}) {
    @content;
  }
}

// psudo element
@mixin psudo {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
